<%= form_with(model: user, local: true) do |form| %>

  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name%>
    <%= form.text_field :name %>
  </div>

  <%= form.fields_for :info do |info| %>
    <div class="field">
      <%= info.label :nationality %>
      <%= info.text_field :nationality%>
    </div>

    <div class="field" id='idade'>
      <%= info.label :age %>
      <%= info.text_field :age %>
    </div>

    <div class="field">
      <%= info.label :sex %>
      <%= info.text_field :sex%>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.text_field :password_confirmation %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>